.login {
	width: 100vw;
	height: 100vh;
	background: url('@/icons/login-bg.svg') no-repeat;
	background-size: cover;
	@include flexCenter;
	.login-wrapper {
		width: 96vw;
		height: 96vh;
		background-color: hsl(0deg 0% 100% / 80%) !important;
		@include flexCenter;
		column-gap: 200px;
		.login-wrapper__left {
			flex: 0 0 600px;
			img {
				width: 100%;
			}
		}
		.login-wrapper__content {
			flex-basis: auto;
			padding: 40px;
			background: transparent !important;
			box-shadow: 2px 3px 7px rgb(0 0 0 / 20%) !important;
			.title {
				margin-bottom: 20px;
				text-align: center;
				font-size: 20px;
				font-weight: 600;
			}
		}
	}
}
